{% extends "default/_layouts/base" %}
{% import "_macros/isactive" as isactive %}

{% block body %}

<div class="off-canvas-wrapper">
<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-transition="push" data-auto-focus="false" data-close-on-click="false" data-content-overlay="false">
  <div class="grid-x grid-padding-x grid-padding-y padding-bottom-0 align-justify align-middle">
  <div class="shrink cell align-middle padding-bottom-0">
    {% set uriSegment = craft.app.request.getSegment(1) %}
    <ul class="menu align-center">
    <li><a {% if uriSegment == "" %}class="active"{% endif %} href="/">All</a></li>
    <li><a {% if uriSegment == "stills" %}class="active"{% endif %} href="/stills">Stills</a></li>
    <li><a {% if uriSegment == "motion" %}class="active"{% endif %} href="/motion">Motion</a></li>
    </ul>
  </div>
  </div>
</div>

<div class="off-canvas-content" data-off-canvas-content>

  <!-- Navigation -->
  <nav class="" id="swup-navigation">
  {% block navigation %}
  {% endblock %}
  </nav>
  <!-- End Navigation -->

  <!-- Content -->
  <main class="grid-x align-center-middle swup-transition-fade" id="swup-body">
    <div class="small-12 cell">	
    {% block main %}
    {% endblock %}
    </div>
  </main>
  <!-- End Content -->
  
  <!-- Footer -->
  <footer class="swup-transition-fade" id="swup-footer">
  {% block footer %}
  {% endblock %}
  </footer>
  <!-- End Footer-->
</div>
</div>

{% endblock %}