<div class="grid-y align-center loader hide">
  <div class="shrink cell">
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-11 cell h3 text-center">
        {{ currentSite.name }}
      </div>
    </div>
  </div>
</div>