@font-face {
  font-family: 'Century Schoolbook';
  src: 
  url('../fonts/century-schoolbook-pro-regular.woff2') format('woff2'), 
  url('../fonts/century-schoolbook-pro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}