@font-face {
  font-family: 'Century Schoolbook';
  src: 
  url('../fonts/century-schoolbook-pro-regular.woff2') format('woff2'), 
  url('../fonts/century-schoolbook-pro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now Text';
  src: 
  url('../fonts/helvetica-now-text.woff2') format('woff2'), 
  url('../fonts/helvetica-now-text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Alpina Bold';
  src: 
  url('../fonts/gt-alpina-bold.woff2') format('woff2'), 
  url('../fonts/gt-alpina-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}