// Typography
// ----------

$line-height--tighter: 1;
$line-height--tight: 1.16;
$line-height--base: 1.6;

$letter-spacing--tighter: -0.027em;
$letter-spacing--tight: -0.018em;
$letter-spacing--looser: 0.25em;
$letter-spacing--loose: 0.125em;

$logo: 'Helvetica Now Text', sans-serif;
$sans-display: 'Helvetica Now Text', sans-serif;
$sans-regular: 'Helvetica Now Text', sans-serif;
$sans-bold: 'Helvetica Now Text', sans-serif;
$sans-light: 'Helvetica Now Text', sans-serif;
$serif-display: 'Helvetica Now Text', serif;
$serif-bold: 'Helvetica Now Text', serif;
$serif-regular: 'Helvetica Now Text', serif;
$serif-italic: 'Helvetica Now Text', serif;
$serif-light: 'Helvetica Now Text', serif;
$mono-display: 'Helvetica Now Text', serif;
$mono-bold: 'Helvetica Now Text', sans-serif;
$mono-regular: 'Helvetica Now Text', sans-serif;
$mono-light: 'Helvetica Now Text', sans-serif;

